body{
    background-color: rgb(109, 104, 104);
    /* margin: 0 auto; */
}
h1{
    text-align: center;
    color: whitesmoke;
}
img{
    width: 99%;
}
.title{
    border: 2px solid wheat;
    text-align: center;
    color: white;
}